<?xml version="1.0" encoding="UTF-8"?>
<!--

     SPDX-License-Identifier: Apache-2.0

     Copyright The original authors

     Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0

-->
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Set DEBUG level for Hardwood reader classes -->
        <Logger name="dev.morling.hardwood.internal.reader.PageCursor" level="DEBUG"/>
        <Logger name="dev.morling.hardwood.reader.AbstractRowReader" level="DEBUG"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
